{% extends 'base.html' %}
{% load i18n static %}
{% load render_bundle from webpack_loader %}
{% block page_title %} 
{% trans 'Little Signs - Home' %}{% endblock %}
{% block extra_css %}
{% render_bundle 'main' 'css' 'REV' %}
<style>
  .header_logo_part.with_border .logo>h3 {
    background-image: url({% static 'img/dots-pattern.png' %});
  }
  .header_logo_part.with_border .logo> h3 {
    margin: 2px;
    padding: 7px 25px;
    border: 5px solid rgba(255, 255, 255, 0.4);
    border-radius: 2px;
}
.site_header .logo>h3 {
  display: block;
  font-size: 35px;
  color: white;
}
</style>
{% endblock extra_css %}

{% block extra_js %}
<script src='{% static 'js/revolution/jquery.themepunch.tools.min.js'  %}'></script>
{% endblock %}
{% block header %} 
{% include "includes/home_header.html" %}
{% endblock %}
{% block body %}
<div id="main" class="site-main">
  <div class="page_content">
    <!-- pattern conatainer / -->
    <div class="left-pattern pattern pattern-2"></div>
    <main>
        {% include "includes/home_about.html" %}
        {% include "includes/home_coarse.html" %}
        {% include "includes/donate.html" %}
    </main>
    <!-- pettaren container / -->
<div class='right-pattern pattern pattern-2'></div>
  </div>
  
</div>

{% endblock %}

{% block footer %}

<!-- footer image container / -->
<div class="footer_image"></div>

  <!-- svg filter -->
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="0" style='display:none;'>
    <defs>
        <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blur" />
            <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
            <feComposite in="SourceGraphic" in2="goo" operator="atop" />
        </filter>
    </defs>
</svg>
<!-- / svg filter -->
{% include "includes/footer.html" %}
{% endblock %}
