{% load i18n static %}
<!-- section -->
<div class='grid_row clearfix' style='padding-top: 30px;'>
    <div class='grid_col grid_col_8'>
        <!-- about us -->
        <div class='ce clearfix'>
            <div>
                <h3 class="ce_title">{% trans "A Few Words About " %}<span >LittleSigns</span></h3>
                <p>{% trans "At LittleSigns, we believe that learning sign language can be fun, empowering, and inclusive. Our platform is primarily designed for deaf children but is also accessible to anyone interested in learning sign language. With a focus on Zimbabwe Sign Language (ZSL), we aim to create an engaging and supportive learning environment for all." %}</p>
                <ul class="checkmarks_style">
                    <li>{% trans "Interactive lessons" %}</li>
                    <li>{% trans "Progress tracking" %}</li>
                    <li>{% trans "For Zimbabwe" %} </li>
                </ul>
                <a href='{% url "about-us" %}' class='cws_button small'>{% trans "More About Us" %}</a>
            </div>
        </div>
        <!-- / about us -->
    </div>
    <div class='grid_col grid_col_4'>
        <div class='ce clearfix'>
            <div><img class="noborder alignnone image-type size-full" src="{% static 'pic/2015/04/Photoroom-20240516_025052.webp' %}" alt="kid_playing" width="385" height="373" /></div>
        </div>
    </div>
</div>
<!-- / section -->