<!-- section -->
<div class='grid_row clearfix' style='padding-top: 30px;'>
    <div class='grid_col grid_col_8'>
        <!-- about us -->
        <div class='ce clearfix'>
            <div>
                <h3 class="ce_title">A Few Words About <span >Our Center</span></h3>
                <p>Libero commodo, ornare mi id, egestas metus. Vivamus condimentum elit vel vestibulum feugiat Aliquam semper nunc augue, vitae fringilla felis adipiscing ac. Duis convallis nibh at euismod molestie.</p>
                <ul class="checkmarks_style">
                    <li>Aenean tincidunt laoreet odio at vulputate, sed pretium lorem sed nulla pulvinar gravida</li>
                    <li>Suspendisse in risus a odio porta commodo felis, in condimentum, risus eget venenatis</li>
                    <li>Praesent at sem vitae lacus iaculis aliquam eget, ivamus justo odio, dictum fermentum sapien</li>
                </ul>
                <a href='page-about-us.html' class='cws_button small'>More About Us</a>
            </div>
        </div>
        <!-- / about us -->
    </div>
    <div class='grid_col grid_col_4'>
        <div class='ce clearfix'>
            <div><img class="noborder alignnone image-type size-full" src="pic/2015/04/kid_playing.jpg" alt="kid_playing" width="385" height="373" /></div>
        </div>
    </div>
</div>
<!-- / section -->