{% load i18n static %}

<div class='grid_row clearfix' style='padding-top: 0px;'>
    <div class='grid_col grid_col_12'>
        <div class='ce clearfix'>
            <div>
                <h3 class="ce_title" style="text-align: center;">{% trans "Explore our " %}<span >{% trans "digital" %}</span> {% trans "study packs" %} <br /></h3>
                <p style="text-align: center;">{% trans "We've rounded up some excellent resources to help children understand sign language." %}<br/>
                    {% trans "The learning path is your child's personalized learning journey divided into meaningful daily milestones." %}

            </div>
        </div>
    </div>
    {% include "includes/coarse_list.html" %}
</div>
